#index-title div {
  display: flex;
  justify-content:center;
  top: 10rem;
    width: 100%;
}
#index-title div > div {
  display: flex;
  justify-content:center;
  width: 60%;
}

#index-title div > div > form > div {
  margin-top: 1rem;
}

label {
  margin-right: 1rem;
}
button {
  margin: 2rem;
  position: relative;
  align-content: center;
}

.map-obj_creat div > div{
  display: flex;
  margin-left: 55px;
}
.map-obj_creat div > div > form > div{
  margin-top: 10px;
}
.map-obj_creat div > div > form{
  font-size: 13px;
}

input::placeholder {
    font-size: 12px;
}
